<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>JavaWeb2018</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 2018.04.10 FirstServlet -->
	<servlet>
		<servlet-name>FirstServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.FirstServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FirstServlet</servlet-name>
		<url-pattern>/firstservlet</url-pattern>
	</servlet-mapping>

	<!-- 2018.04.13 LoginServlet -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet</url-pattern>
	</servlet-mapping>

	<!-- 2018.04.17 CookiesTest -->
	<servlet>
		<servlet-name>CookiesTest</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.CookiesTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CookiesTest</servlet-name>
		<url-pattern>/cookiesTest</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.04.23 AuthorityFilter -->
	<filter>
	<filter-name>AuthorityFilter</filter-name>
	<filter-class>cn.edu.lingnan.filter.AuthorityFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>AuthorityFilter</filter-name>
	<url-pattern>/Admin/*</url-pattern>
	</filter-mapping>
	
	<!-- 2018.05.03 RegisterServlet -->
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.05.10 LogoutServlet -->
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logoutServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.05.12 FindAllReader -->
	<servlet>
		<servlet-name>FindAllReader</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.FindAllReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindAllReader</servlet-name>
		<url-pattern>/Admin/findAllReader</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.05.14 DeleteReaderServlet -->
	<servlet>
		<servlet-name>DeleteReaderServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.DeleteReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReaderServlet</servlet-name>
		<url-pattern>/Admin/deleteReaderServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.05.17 UpdateReaderServlet -->
	<servlet>
		<servlet-name>UpdateReaderServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.UpdateReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateReaderServlet</servlet-name>
		<url-pattern>/Admin/updateReaderServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.05.27 TagExamples.tld -->
	<jsp-config>
	
	<!-- 2018.05.27 TagExamples1 -->
	<taglib>
	<taglib-uri>/TagExample</taglib-uri>
	<taglib-location>/WEB-INF/tlds/TagExample.tld</taglib-location>
	</taglib>
	
	<!-- 2018.05.27 JSTLC 核心标签库的加载-->
	<taglib>
	<taglib-uri>/jstlc</taglib-uri>
	<taglib-location>/WEB-INF/tlds/c.tld</taglib-location>
	</taglib>
	
	<!-- 2018.05.27 JSTLSQL SQL标签库的加载-->
	<taglib>
	<taglib-uri>/jstlsql</taglib-uri>
	<taglib-location>/WEB-INF/tlds/sql.tld</taglib-location>
	</taglib>
	</jsp-config>
	
	<!-- 2018.05.28 DeleteReaderCheckServlet 批量删除用户信息-->
	<servlet>
		<servlet-name>DeleteReaderCheckServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.DeleteReaderCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReaderCheckServlet</servlet-name>
		<url-pattern>/Admin/deleteReaderCheckServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.05.30 RnameCheckServlet Ajax判断用户名是否已经注册-->
	<servlet>
		<servlet-name>RnameCheckServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.RnameCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RnameCheckServlet</servlet-name>
		<url-pattern>/rnameCheckServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.01 FindAllBook -->
	<servlet>
		<servlet-name>FindAllBook</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.FindAllBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindAllBook</servlet-name>
		<url-pattern>/Admin/findAllBook</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.02 UpdateBookServlet -->
	<servlet>
		<servlet-name>UpdateBookServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.UpdateBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateBookServlet</servlet-name>
		<url-pattern>/Admin/updateBookServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 DeleteBookServlet 删除书籍信息-->
	<servlet>
		<servlet-name>DeleteBookServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.DeleteBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBookServlet</servlet-name>
		<url-pattern>/Admin/deleteBookServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 DeleteBookCheckServlet 批量删除书籍信息-->
	<servlet>
		<servlet-name>DeleteBookCheckServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.DeleteBookCheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteBookCheckServlet</servlet-name>
		<url-pattern>/Admin/deleteBookCheckServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 InsertBookServlet 添加书籍信息-->
	<servlet>
		<servlet-name>InsertBookServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.InsertBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertBookServlet</servlet-name>
		<url-pattern>/Admin/insertBookServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 InsertReaderServlet 添加用户信息-->
	<servlet>
		<servlet-name>InsertReaderServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.InsertReaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertReaderServlet</servlet-name>
		<url-pattern>/Admin/insertReaderServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 FindLend_return -->
	<servlet>
		<servlet-name>FindLend_return</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.FindLend_return</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindLend_return</servlet-name>
		<url-pattern>/Admin/findLend_return</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 UpdateLend_returnServlet -->
	<servlet>
		<servlet-name>UpdateLend_returnServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.UpdateLend_returnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLend_returnServlet</servlet-name>
		<url-pattern>/Admin/updateLend_returnServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.03 DeleteLend_returnServlet -->
	<servlet>
		<servlet-name>DeleteLend_returnServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.DeleteLend_returnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteLend_returnServlet</servlet-name>
		<url-pattern>/Admin/deleteLend_returnServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 2018.06.04 InsertLend_returnServlet -->
	<servlet>
		<servlet-name>InsertLend_returnServlet</servlet-name>
		<servlet-class>cn.edu.lingnan.Servlet.InsertLend_returnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertLend_returnServlet</servlet-name>
		<url-pattern>/Admin/insertLend_returnServlet</url-pattern>
	</servlet-mapping>
	
</web-app>